.container-404{
    background-color: #13566D;
    border-radius: 20px;
    margin-top: 50px;
}

.main-404__wrapper{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    gap: 100px;
    padding: 50px;
}

.h1-404{
    font-size: 230px;
}

.main-404{
    display: flex;
    flex-direction: column;
    gap: 20px;
}

@media (max-width: 1199.98px) {
    .h1-404{
        font-size: 170px;
    }
}

@media (max-width: 991.98px) {
    .h1-404{
        font-size: 120px;
    }
}

@media (max-width: 767.98px) {
    .h1-404{
        font-size: 120px;
    }

    .main-404__wrapper{
        flex-direction: column;
        align-items: flex-start;
        gap: 30px;
    }
}

@media (max-width: 576.98px) {
    .h1-404{
        font-size: 100px;
    }

    .main-404__wrapper{
        padding: 30px;
    }
}