.atlas-section{
    width: 100%;
    min-height: 100vh;
    
    background-image: url(../images/atlas/bg-picture.png);
    background-repeat: no-repeat;
    background-size: cover;

    background-position: right top;

    padding: 75px 0;
    margin: 0 auto;
}

.atlas-h1{
    margin-bottom: 75px;
}

.atlas-buttons{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    
    gap: 20px;
    margin: 50px auto;
}

.atlas-logo{
    margin-bottom: 25px;
    max-width: 100%;
}

@media (max-width: 776.98px) {
    .atlas-buttons{
        flex-direction: column;
    }
}

@media (max-width: 576.98px) {
    .atlas-h1{
        font-size: 30px;
    }
}