.etp-hero{
    width: 100%;
    min-height: 70vh;
    
    background-image: url(../images/etp/etp-bg.png);
    background-repeat: no-repeat;
    background-position: left center;   
    background-size: cover;

    margin: 0;

    padding: 50px 0;

    display: flex;

}

.etp-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    flex: 1;
}

.etp__eek-logo{
    width: 30%;
    margin-bottom: 20px;
}

.etp-h3{
    color: #13566D;
    letter-spacing: -2%;
    text-transform: uppercase;

    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;

    font-size: 20px;

    margin: 25px 0;

}

.etp-tasks{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 20px;

    max-width: 100%;
}

.etp-tasks__card{
    width: 100%;
}

.etp-tasks__img{
    width: 100%;
}

.etp-participants{
    display: flex;
    flex-direction: column;

    gap: 40px;

    margin-bottom: 75px;
}

.etp-participants__card{
    display: flex;
    flex-direction: row;

    align-items: flex-start;
    justify-content: space-between;
}

.etp-participant__logo{
    width: 25%;
    margin: 0;
}

.etp-participants__card__texts{
    width: 65.7%;
}

@media (min-width: 768px) and (max-width: 991.98px){
    .etp__eek-logo{
        width: 60%;
    }
    
    .etp-tasks{
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }

    .etp-participants__card__h3{
        font-size: 18px;
    }
}

@media (max-width: 767.98px) {
    .etp__eek-logo{
        width: 80%;
    }
    
    .etp-tasks{
        grid-template-columns: repeat(1, 1fr);
        row-gap: 30px;
    }

    .etp-participants__card{
        flex-direction: column;
    }

    .etp-participant__logo{
        width: 50%;
        margin-bottom: 30px;
    }

    .etp-participants__card__texts{
        width: 100%;
    }

    .etp-participants__card__h3{
        font-size: 16px;
    }
}

@media (max-width: 567.98px) {
    .etp-h1{
        font-size: 30px;
    }
    
}