.header{
    position: sticky;
    top: 0;
    z-index: 1000;

    background-color: white;
}

.header__container{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;

    background-color: #FFF;

    padding: 20px 0;
}

.header__img{
    height: 33px;
    width: 200px; 
}

.header__text-buttons{
    list-style: none;

    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 15px;

    margin: 0;
    padding: 0;
}

.header__text-button{
    font-size: 16px;
    color: #000;
    line-height: normal;
}

.navbar-collapse{
    display: flex;
    flex-direction: row;

    justify-content: space-between;
    align-self: center;
}

.header__text-button:hover{
    text-decoration: underline;
    color: #000;
}

.dropdown-item{
    background-color: #FFF;
}

.dropdown-item:hover{
    background-color: #13566D;
    color: #FFF;
}

.dropdown-item.rimm-dropdown{
    background: linear-gradient(to right, #3D3970, #BE2E33);
    color: #FFF;
}

.dropdown-item.rimm-dropdown:hover{
    background: linear-gradient(to right, #2e2c57, #6f191c);
    color: #FFF;
}

.navbar-toggler {
    border: none;
}

.navbar-toggler:focus {
    box-shadow: none;
}

.header__icon{
    width: auto;
    height: auto;
}

@media (min-width: 992px) and (max-width: 1199.98px) {
    .header__img{
        width: 150px;
        height: auto;
    }

    .header__text-button{
        font-size: 14px;
    }

    .dropdown-item{
        font-size: 15px;
    }

    .header__text-buttons{
        gap:0
    }

    .header__icon{
        max-height: 15px;
        width: auto;
        margin: 0 5px;
    }

    .header__container{
        padding: 10px 0;
    }
}

@media (max-width: 991.98px) {

    .header {
        position: sticky;
        top: 0;
        z-index: 1000;
        background-color: #fff;
    }

    .header__icon{
        width: auto;
        height: auto;
    }

    .header__container {
        position: relative;
        z-index: 1002;
        background-color: #fff;

        padding: 20px 0;
    }

    .navbar-collapse {
        position: fixed;
        top: 73px; 
        right: 0;

        width: 100%;
        height: calc(100vh - 73px);

        background-color: #fff;
        padding: 20px 20px 40px;

        transform: translateX(100%);
        transition: transform 0.35s ease;

        overflow-y: auto;
        z-index: 999;

        flex-direction: column;
        justify-content: flex-start;
    }

    .navbar-collapse.show {
        transform: translateX(0);
    }

    .navbar-collapse.collapsing {
        height: auto !important;
        transform: translateX(100%);
        transition: transform 0.35s ease !important;
        height: calc(100vh - 73px) !important;
    }

    .header__text-buttons {
        flex-direction: column;
        align-items: flex-start;
        gap: 20px;
        width: 100%;
    }

    .navbar-nav .nav-item {
        width: 100%;
    }

    .navbar-nav .nav-link {
        font-size: 20px;
        padding: 0;
    }

    .dropdown-menu {
        position: static;
        border: none;
        padding-left: 15px;
    }

    .navbar-collapse > .navbar-nav:last-child {
        flex-direction: row;
        gap: 20px;
        margin-top: auto;

        margin-top: 32px;
    }

    .navbar-collapse > .navbar-nav:last-child .nav-item {
        width: auto;
    }

    .navbar-toggler {
        position: relative;
        z-index: 1003;
    }

    .navbar-brand {
        position: relative;
        z-index: 1003;
    }

    .header__img{
        height: 25px;
        width: auto;
        margin-left: 20px;
    }

    .dropdown-item{
        font-size: 16px;
    }

}

