.banners{
    margin: 0;
}

.banner{
    width: 100%;
    min-height: 500px;
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.banner-1{
    background-image: url(../images/home/banner-main.png);
    background-position: left center;   

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banner-h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.08rem;
    font-size: 57px;

    color: white;
    width: 900px;

    margin-bottom: 50px;
}

.banner-1-subheading{
    font-size: 24px;
}

.banner-2{
    background-image: url(../images/rimm/rimm-bg.png);
    background-position: right center;   

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banner-3{
    background-image: url(../images/home/banner-presentation.png);
    background-position: center;   

    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banner-4{
    background-image: url(../images/home/banner-atlas.png);
    background-position: center;   

    align-items: center;
    justify-content: center;
    gap: 25px;
}

.home-custom-btn{
    height: 70px;
}

.home__intro{
    font-size: 24px;
}

.home__turquose-container{
    background-color: #C7E0E9;
    padding: 40px;

    border-radius: 20px;

    margin-bottom: 40px;

    transition: 0.5s;
}

.home__turquose-container:hover{
    background-color: #13566D;
    color: white;
}

.home__turquose-container-1 {
    background-color: #C7E0E9;
    padding: 40px;

    border-radius: 20px;

    margin-bottom: 40px;

    transition: 0.5s;
}

.home__turquose-container-1:hover{
    background-color: #13566D;
}

.home__event{
    flex: 1;
    gap: 15px;
}

.home__event:nth-child(n+2){
    border-left: 1.5px solid currentColor;
    padding-left: 40px;
}

.home__event:not(:last-child){
    padding-right: 40px;
}

.mr-icons{
    margin-bottom: 25px;
}

#mr-magazines-carousel {
    position: relative;
}

#mr-magazines-carousel .carousel-control-prev,
#mr-magazines-carousel .carousel-control-next {
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
}

#mr-magazines-carousel .carousel-control-prev {
    left: 0; 
}

#mr-magazines-carousel .carousel-control-next {
    right: auto;
    left: 90px;
}

#mr-magazines-carousel .carousel-control-prev-icon,
#mr-magazines-carousel .carousel-control-next-icon {
    filter: invert(1);
}

.row {
    gap: 25px;
    margin-bottom: 25px;
}

.magazine-bg{
    background-color: white;
    padding: 20px 15px;
    gap: 20px;
    border-radius: 15px;
}

.magazine-bg img {
    width: 100%;
    border-radius: 10px;
}

.h3-magazine{
    font-size: 24px;
}


.mr-sm-icons {
    gap: 15px;
}