.banners{
    margin: 0;
}

.banner{
    width: 100%;
    min-height: 65vh;
    
    background-repeat: no-repeat;
    background-size: cover;
    margin: 0;
}

.banner-1{
    background-image: url(../images/home/banner-main.png);
    background-position: left center;   

    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banner-1__wrap{
    display: flex;
    justify-content: flex-end;
}

.banner-1__wrap__inner{
    width: auto;
}

.banner-h1{
    font-family: "Roboto", sans-serif;
    font-weight: 700;
    text-transform: uppercase;
    letter-spacing: -0.08rem;
    font-size: 57px;

    color: white;
    width: 900px;

    margin-bottom: 50px;
}

.banner-1-subheading{
    font-size: 24px;
}

.rimm-hero{
    width: 100%;
    
    background-image: url(../images/rimm/rimm-bg.png);
    background-repeat: no-repeat;
    background-position: right center;   
    background-size: cover;

    margin: 0;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.rimm-hero__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 30px;
}

.rimm-hero__logo{
    max-width: 30%;
}

.rimm-hero__texts{
    max-width: 65%;
}

.subheading-rimm{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
    color: white;

    letter-spacing: -2%;
}

.rimm-h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;

    font-size: 48px;
    color: white;
}

.banner-3{
    background-image: url(../images/home/banner-presentation.png);
    background-position: center;   

    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banner-4{
    background-image: url(../images/home/banner-atlas.png);
    background-position: center right;   

    align-items: center;
    justify-content: center;
    gap: 25px;
}

.banner-4__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
}

.banner-4__img{
    max-width: 55%;
}

.home-custom-btn{
    height: 70px;
}

.home__intro{
    font-size: 24px;
}

.home__turquose-container{
    background-color: #C7E0E9;
    padding: 40px;

    border-radius: 20px;

    margin-bottom: 40px;

    transition: 0.5s;
}

.home__turquose-container:hover{
    background-color: #13566D;
    color: white;
}

.home__turquose-container-1 {
    background-color: #C7E0E9;
    padding: 40px;

    border-radius: 20px;

    margin-bottom: 40px;

    transition: 0.5s;
}

.home__turquose-container-1:hover{
    background-color: #13566D;
}

.home__events-container{
    display: flex;
    flex-direction: row;
}

.home__event{
    flex: 1;
    gap: 15px;
    width: 30%;
}

.home__event:nth-child(n+2){
    border-left: 1.5px solid currentColor;
    padding-left: 40px;
}

.home__event:not(:last-child){
    padding-right: 40px;
}

.news__bg__wrapper{
    display: flex;
    width: 100%;
    justify-content: flex-end;
}

.news__bg{
    background-color: #ffffff;
    border-radius: 15px;
    padding: 20px;

    max-width: 70%;
}

.news__content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    margin-bottom: 30px;
}

.news__content img{
    max-width: 35%;
}

.custom__news-h3{
    max-width: 60%;
    font-size: 32px;
}

.mr-icons{
    margin-bottom: 25px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

.mr-sm-icons {
    display: flex;
    flex-direction: row;
    align-items: center;
    
    gap: 15px;
}

.mr-icon{
    width: auto;
    height: auto;
}

#mr-magazines-carousel {
    position: relative;
}

#mr-magazines-carousel .carousel-control-prev,
#mr-magazines-carousel .carousel-control-next, 
#mr-news-carousel .carousel-control-prev,
#mr-news-carousel .carousel-control-next{
    position: absolute;
    width: 48px;
    height: 48px;
    background-color: #ffffff;
    border-radius: 50%;
    opacity: 1;
    top: 50%;
    transform: translateY(-50%);
}

#mr-magazines-carousel .carousel-control-prev,
#mr-news-carousel .carousel-control-prev {
    left: 0; 
}

#mr-magazines-carousel .carousel-control-next,
#mr-news-carousel .carousel-control-next {
    right: auto;
    left: 90px;
}

#mr-magazines-carousel .carousel-control-prev-icon,
#mr-magazines-carousel .carousel-control-next-icon {
    filter: invert(1);
}

.row {
    gap: 25px;
    margin-bottom: 25px;
}

.magazine-bg{
    background-color: white;
    padding: 20px 15px;
    gap: 20px;
    border-radius: 15px;
}

.magazine-bg img {
    width: 100%;
    border-radius: 10px;
}

.h3-magazine{
    font-size: 24px;
}

.home__desktop-magazines-carousel{
    display: block;
}

.home__tablet-magazines-carousel{
    display: none;
}

.home__mobile-magazines-carousel{
    display: none;
}

@media (max-width: 991.98px){
    .rimm-hero{
        height: 630px;
    }
    
    .rimm-hero__inner{
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .rimm-hero__logo{
        max-width: 20%;
    }

    .rimm-hero__texts{
        max-width: 100%;
    }

    .rimm-hero__inner{
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .rimm-h1{
        font-size: 40px;
    }

    .rimm-hero{
        height: 630px;
    }
}

@media (min-width: 568px) and (max-width: 767.98px) {
    .rimm-h1{
        font-size: 32px;
    }
    
    .rimm-hero{
        height: 630px;
    }
    
    .rimm__main{
        flex-direction: column;
    }

    
}

@media (max-width: 567.98px) {
    .rimm-h1{
        font-size: 28px;
    }

    .rimm-hero{
        background-position: center;
        height: 630px;
    }
    
    .rimm__main{
        flex-direction: column;
    }
}

@media (min-width: 768px) and (max-width:1199.98px) {
    .home__desktop-magazines-carousel{
        display: none;
    }

    .home__tablet-magazines-carousel{
        display: block;
    }

    .home__mobile-magazines-carousel{
        display: none;
    }

    #mr-magazines-carousel-tablet .carousel-control-prev,
    #mr-magazines-carousel-tablet .carousel-control-next {
        position: absolute;
        bottom: 0; 
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 1;

        top: 50%;
        transform: translateY(-50%);
    }

    #mr-magazines-carousel-tablet .carousel-control-prev {
        left: 0;
    }

    #mr-magazines-carousel-tablet .carousel-control-next {
        right: auto;
        left: 90px;
    }

    #mr-magazines-carousel-tablet .carousel-control-prev-icon,
    #mr-magazines-carousel-tablet .carousel-control-next-icon {
        filter: invert(1);
    }

    .news__bg{
        max-width: 80%;
    }

    .custom__news-h3{
        font-size: 24px;
    }
}


@media (max-width: 991.98px) {
    
    .banner{
        width: 100%;
        min-height: 630px;
        
        background-repeat: no-repeat;
        background-size: cover;
        margin: 0;
    }

    .banner-1__wrap{
        justify-content: flex-start;
    }

    .banner-1__wrap__inner{
        width: 100%;
    }

    .banner-1{
        justify-content: flex-start;
        align-items: flex-start;       
        padding-top: 40px; 
    }

    .banner-h1{
        font-size: 40px;
        margin-bottom: 20px;
        max-width: 100%;
    }

    .banner-1-subheading{
        font-size: 32px;
    }

    .banner-3{
        background-image: url(../images/home/banner-presentation-mobile.png);
        background-position: center;   

        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .banner-4{
        background-image: url(../images/home/banner-atlas-mobile.png);
        background-position: center right;   

        align-items: center;
        justify-content: center;
        gap: 25px;
    }

    .banner-4__inner{
        flex-direction: column-reverse;
        gap: 30px
    }

    .banner-4__img{
        width: 100%;
        max-width: 100%;
    }

    .home__intro{
        font-size: 20px;
    }

    .home__turquose-container {
        padding: 30px;
    }

    .home__turquose-container-1{
        padding: 30px;
    }

    .home__events-container {
        flex-direction: column;
    }

    .home__event{
        width: 100%;
        border: none;
        padding: 0;
    }

    .home__event:nth-child(n+2) {
        border: none;
        padding: 0;
        padding-top: 20px;
    }

    .home__event:not(:last-child){
        border-bottom: 1.5px solid currentColor;
        padding: 0;
        padding-bottom: 20px;
    }

    .l-btn {
        font-size: 16px;
        height: 55px;
    }

    .news__bg{
        max-width: 100%;
    }

    .home__news-carousel{
        padding-bottom: 70px;
    }

    #mr-news-carousel .carousel-control-prev,
    #mr-news-carousel .carousel-control-next{
        top: auto;
        transform: none
    }

    #mr-news-carousel .carousel-control-prev {
        left: 0;
    }

    #mr-news-carousel .carousel-control-next {
        right: 0;
        left: auto;
    }

    #mmr-news-carousel .carousel-control-prev-icon,
    #mr-news-carousel .carousel-control-next-icon {
        filter: invert(1);
    }
}

@media (max-width: 767px) {

    .banner-1{
        background-image: url(../images/home/banner-main-mobile.png);
        background-position: left bottom;   

        flex-direction: column;
    }
    
    .mr-icons{
        flex-direction: column;
        align-items: flex-start;

        gap: 20px;
    }

    .mr-icon{
        height: 30px;
        width: auto;
    }
    
    .home__desktop-magazines-carousel {
        display: none;
    }

    .home__tablet-magazines-carousel{
        display: none;
    }

    .home__mobile-magazines-carousel{
        display: block;

        padding-bottom: 60px;
        margin-bottom: 10px;
    }

    #mr-magazines-carousel-mobile .carousel-control-prev,
    #mr-magazines-carousel-mobile .carousel-control-next {
        position: absolute;
        bottom: 0; 
        width: 48px;
        height: 48px;
        background-color: #ffffff;
        border-radius: 50%;
        opacity: 1;

        top: auto;
        transform: none
    }

    #mr-magazines-carousel-mobile .carousel-control-prev {
        left: 0;
    }

    #mr-magazines-carousel-mobile .carousel-control-next {
        right: 0;
    }

    #mr-magazines-carousel-mobile .carousel-control-prev-icon,
    #mr-magazines-carousel-mobile .carousel-control-next-icon {
        filter: invert(1);
    }

    .news__content{
        flex-direction: column;
        gap: 20px;
    }

    .news__content img{
        max-width: 100%;
    }

    .custom__news-h3{
        max-width: 100%;
        font-size: 24px;
    }
}

@media (max-width: 452.98px){
    .banner-h1{
        font-size: 28px;
        margin-top: 20px;
    }

    .banner-1-subheading{
        font-size: 20px;
    }
}

