/*----------------   COMMON   ----------------*/

::-webkit-selection {
    background-color: #64D1D1;
}

::-moz-selection {
    background-color: #64D1D1;
}

::selection {
    background-color: #64D1D1;
}


section {
    margin-top: 70px;
}

/*-------- texts --------*/

p {
    font-size: 20px;
    font-family:'Helvetica';
    font-weight: 200;
    line-height: 163%;
}

.quote-alike{
    font-size: 24px;
    border-left: 4px solid #13566D;
    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;
    color: #13566D;

    padding-left: 25px;

    margin: 45px 0;
}

.subheding{
    color: #13566D;
    font-size: 15px;
    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;
}

.h1 {
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
    text-transform: uppercase;
}

.h1-white{
    font-size: 64px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
    text-transform: uppercase;
    color: white;
}

.h2{
    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;
    text-transform: uppercase;

    letter-spacing: -2%;
    color: #000;

    margin-bottom: 50px;
}

.h2-green{
    font-size: 24px;
    color: #13566D;

    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;
}

.hero-subheading{
    font-family:'Helvetica';
    font-weight:normal;
    line-height: 163%;

    font-size: 24px;
    color: white;

    width: 50%;
}

.h3{
    font-size: 32px;
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
}



/*-------- links --------*/

a {
    text-decoration: none;
    cursor: pointer;

    font-family:'Helvetica';
    font-weight: 200;
    line-height: 163%;
}

.link{
    text-decoration: underline;
    color: #13566D; 
    font-size: 20px;  
}

.link:hover{
    color: #0d3b4b;
}

.link-turquose-light{
    text-decoration: underline;
    color: #4ABBBB; 
}

.link-turquose-light:hover{
    color: #348888;
}

.black-link{
    font-size: 20px;
    color: #000;
}

.black-link:hover{
    color: #13566D;
}

.link_white{
    color: #FFF;
}

.link_white:hover{
    text-decoration: underline;
    color: #FFF;
}

/*-------- colors --------*/

.turquose-dark{
    color: #13566D;
}

.turquose-light{
    color: #B5E1EE;
}

.white{
    color: #FFF;
}

/*----------------   FONTS   ----------------*/

/*-------- Helvetica --------*/

.hv-light {
    font-family:'Helvetica';
    font-weight: 200;
    line-height: 163%;
}

.hv-regular {
    font-family:'Helvetica';
    font-weight:normal;
    line-height: 163%;
}

.hv-bold {
    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;
}

/*-------- Montserrat --------*/

.mrrt-light{
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    line-height: 131%;
}

.mrrt-normal{
    font-family: "Montserrat", sans-serif;
    font-weight: 500;
    line-height: 131%;
}

.mrrt-bold{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
}

/*----------------   BUTTONS   ----------------*/

.green-button:hover{
    background-color: #0d3b4b;
    color: #FFF;
}

.s-green-button{
    background-color: #13566D;
    padding: 11px 39px;
    font-size: 20px;
    color: #FFF;
    border-radius: 999px;
}

.l-green-button{
    background-color: #13566D;
    font-size: 20px;
    color: #FFF;
    border-radius: 999px;

    align-items: center;
    justify-content: space-around;
    font-family:'Helvetica';
    font-weight:bold;
    line-height: 163%;
    height: 70px;

    display: flex;
    width: 100%;
}

.btn-secondary{
    background-color: #4ABBBB;
    color: white;
}

.btn-secondary:hover{
    background-color: #348888;
    color: white;
}

.header__text-button.dropdown-toggle:focus,
.header__text-button.dropdown-toggle:focus-visible,
.header__text-button.dropdown-toggle:active {
    outline: none;
    box-shadow: none;
}

.btn{
    border-radius: 999px;
}

.m-btn{
    width: 50%;
    height: 50px;
    font-family:'Helvetica';
    font-weight:bold;
    font-size: 20px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.l-btn{
    width: 100%;
    height: 70px;
    font-family:'Helvetica';
    font-weight:bold;
    font-size: 20px;

    border-radius: 999px;

    display: flex;
    align-items: center;
    justify-content: space-around;
}

.custom-small-btn{
    height: 50px;
}

.btn-dark{
    background-color: #101010;
}

.btn-dark:hover{
    background-color: #000;
    color: #FFF;
}

/*----------------   STUFF   ----------------*/

.slider{
    margin: 0 auto;
    margin-bottom: 75px;
}

.carousel-control-prev,
.carousel-control-next {
  width: 48px;
  height: 48px;
  background: rgba(0, 0, 0, 0.4);
  border-radius: 50%;
  top: 50%;
  transform: translateY(-50%);
}

.carousel-control-prev-icon,
.carousel-control-next-icon {
  filter: invert(1);
}

.carousel-item{
    height: max-content;
}

.logo-row{
    margin-bottom: 75px;
}

.logo-row img{
    cursor: pointer;
}

.logo-row a{
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.logo-img{
    max-width: 100%;
    height: auto;
}

.logo-row-h2{
    margin-bottom: 50px;
}

.row-description{
    margin-bottom: 50px;
}

.last-section{
    margin-bottom: 75px;
}
