.news-hero{
    width: 100%;
    min-height: 70vh;
    
    background-image: url(../images/news/news-bg.png);
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;

    margin: 0;

    display: flex;
    align-items: center;
}

.news-hero-inner{
    display: flex;
    flex-direction: column;

    gap: 50px;

    margin-left: auto;

    align-items: flex-start;
}

.search-instruments{
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    gap: 20px;
    margin-top: 30px;
}

.categories__dropdown{
    width: 100%;
    max-width: 320px;
    border-radius: 30px;

    border: 1px solid #13566D;
}

.btn-categories {
    width: 100%;
    font-size: 20px;
    text-align: left;
    padding: 10px 25px;
}

.dropdown-menu-categories{
    width: 100%;
    max-width: 320px;
    border-radius: 25px;
    border: 1px solid #13566D;
    padding: 0;
}

.categories__dropdown-item{
    font-size: 20px;
    text-align: left;
    padding: 10px 25px;
    border-radius: 25px;
}

.news__search{
    width: 100%;
    max-width: 320px;
}

.search__input {
    width: 100%;
    padding: 7px 20px;
    border-radius: 999px;

    border: 1px solid #13566D;
}

.search__button{
    background-color: white;
    border: none;
    margin-right: 10px;
}

.news{
    display: grid;
    width: 100%;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
    row-gap: 50px;
    column-gap: 70px;
    justify-content: stretch;
}

.news-card{
    background-color: #FAFBFD;
    box-sizing: border-box;
    box-shadow: -1px 1px 7.1px rgba(0, 0, 0, 0.25);
    width: 100%;
    height: 650px;

    padding: 30px;
    border-radius: 20px;

    position: relative;
}

.news-card__category{
    background-color: #13566D;
    color: white;
    font-size: 16px;
    text-align: center;
    width: fit-content;
    padding: 10px 15px;

    border-radius: 999px;

    position: absolute;
    top: 0;
    left: 50%;
    transform: translate(-50%, -50%);
    white-space: nowrap;
}

.news-card__inner{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: space-between;

    height: 100%;
}

.news-card__img{
    width: 100%;
    height: auto;

    border-radius: 15px;
}

.news-card__content{
    display: flex;
    flex-direction: column;

    gap: 15px;
}

.news-card__h3{
    font-size: 20px;

    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 3;

    overflow: hidden
}

.news-card__description{
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    font-size: 16px;

    overflow: hidden;
}

.news-card__date{
    font-size: 15px;
    margin: 0;
}

.news-load-more{
    border: none;
    background-color: transparent;
    text-transform: uppercase;
    margin: 25px 0;
}

.news-p{
    margin: 20px 0;
}

.post-h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
    font-size: 50px;

    text-transform: uppercase;
    color: black;
    margin: 30px 0;
}

.post-content{
    margin-top: 0;
}

.post__info{
    display: flex;
    flex-direction: row;
    align-items: center;

    gap: 20px;

    margin: 35px 0;
}

.post__date, .post__category {
    font-family: "Montserrat", sans-serif;
    font-weight: 200;
    line-height: 131%;

    font-size: 15px;
}

@media (min-width: 992px) and (max-width: 1199.98px){
    .news{
        column-gap: 20px;
    }

    .news-card{
        padding: 30px 20px;
    }

    .post-h1{
        font-size: 40px;
    }
}

@media (max-width: 991.98px){
    .news{
        grid-template-columns: repeat(2, 1fr);
        column-gap: 20px;
    }

    .news-card{
        padding: 30px 20px;
    }

    .post-h1{
        font-size: 36px;
    }
}

@media (max-width: 767.98px){
    .news-card__category{
        font-size: 14px;
        padding: 10px;
    }

    .news-card__h3{
        font-size: 16px;
    }

    .news-card{
        height: 500px;
    }

    .news-card{
        padding: 30px 15px;
        padding-bottom: 15px;
    }

    .search-instruments{
        flex-direction: column-reverse;
        align-items: flex-start;
    }

    .dropdown-menu-categories{
        max-width: 515px;
    }

    .btn-categories {
        font-size: 16px;
        padding: 10px 20px;
    }

    .categories__dropdown{
        max-width: 100%;
    }

    .categories__dropdown-item{
        font-size: 16px;
        padding: 10px 20px;
    }

    .news__search{
        max-width: 100%;
    }

    .post-h1{
        font-size: 32px;
    }
}

@media (max-width: 576.98px){
    .news{
        grid-template-columns: repeat(1, 1fr);
        column-gap: 0;
    }

    .news-card{
        height: auto;
    }

    .news-card__category{
        padding: 10px 20px;
    }

    .post-h1{
        font-size: 20px;
    }
}