.participants-hero{
    width: 100%;
    min-height: 70vh;
    
    background-image: url(../images/participants/hero-bg.png);
    background-repeat: no-repeat;
    background-position: left center;   
    background-size: cover;

    margin: 0;
}

.participants-hero-inner{
    display: flex;
    /* justify-content: baseline; */
    flex-direction: column;
}

.participants-h1{
    width: 50%;
}


.modal-xl-custom {
    max-width: 1200px;
    width: 100%;
}

.modal-custom {
    border: none;
    background: transparent;
}

.modal-wrapper {
    position: relative;
    width: 1200px;
    margin: 0 auto;
}

.modal-bg {
    width: 1100px;
    background-color: #fff;
    border-radius: 32px;
    padding: 50px 50px 50px 400px;
    margin-left: auto;
}

.modal-text-container {
    max-width: 705px;

    display: flex;
    flex-direction: column;

    gap: 25px;
}

.modal-image-robotics {
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 437px;
    z-index: 2;
}

.modal-image-components{
    position: absolute;
    left: 0;
    bottom: 40px;
    width: 470px;
    z-index: 2;
}

.modal-image-ai{
    position: absolute;
    left: 10px;
    bottom: 0;
    height: 525px;
    z-index: 2;
}

.modal-image-automatisation{
    position: absolute;
    left: 0;
    bottom: 50px;
    width: 437px;
    z-index: 2;
}
