.partners-hero{
    width: 100%;
    min-height: 70vh;
    
    background-image: url(../images/partners/hero-bg-partners.png);
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;

    margin: 0;

    display: flex;
    align-items: flex-start;
}

.row-description{
    margin-bottom: 50px;
}

.partners-hero-inner{
    display: flex;
    flex-direction: column;

    margin-left: auto;
    padding-top: 30px;

    align-items: center;
}

.partners-h1{
    text-align: center;
}

.partners-subheading{
    max-width: 1070px;
    font-weight: bold;
    text-align: center;
    margin: auto;
}

@media (max-width: 576.78px){
    .partners-hero{
        min-height: 50vh;
    }
}

@media (max-width: 499.78px){
    .partners-hero{
        min-height: 30vh;
    }
}