.partners-hero{
    width: 100%;
    min-height: 70vh;
    
    background-image: url(../images/partners/hero-bg-partners.png);
    background-repeat: no-repeat;
    background-position: left center;   
    background-size: cover;

    margin: 0;

    display: flex;
    align-items: flex-start;
}

.partners-hero-inner{
    display: flex;
    flex-direction: column;

    margin-left: auto;
    padding-top: 30px;

    align-items: center;
}

.partners-subheading{
    max-width: 1070px;
    font-weight: bold;
}