.rik__hero{
    width: 100%;
    min-height: 50vh;

    background-image: url(../images/rik/bg.png);

    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;

    margin: 0;

    display: flex;
    align-items: center;
}

.rik__hero img {
    display: flex;
    max-width: 50%;
    height: auto;

    border-radius: 15px;
}

.rik-subheading{
    font-size: 32px;
    margin-top: 50px;
}

.rik-text{
    margin-bottom: 75px;
    gap: 25px;
}

.rik__image {
    display: flex;
    max-width: 50%;
    height: auto;

    border-radius: 15px;
}

.rik__text-w-logo {
    max-width: 45%;

    gap: 15px;
}