.rik__hero{
    width: 100%;
    min-height: 50vh;

    background-image: url(../images/rik/bg.png);

    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;

    margin: 0;

    display: flex;
    align-items: center;
}

.rik__hero img {
    display: flex;
    max-width: 50%;
    height: auto;

    border-radius: 15px;
}

.rik-subheading{
    font-size: 32px;
    margin-top: 50px;
}

.rik-text{
    margin-bottom: 75px;
    gap: 25px;
}

.rik__contnent{
    display: flex;
    flex-direction: row;
    align-content: flex-start;
    gap: 20px;
}

.rik__image-wrap {
    flex: 0 0 50%;
}

.rik__image {
    width: 100%;
    height: auto;
    display: block;
    border-radius: 15px;
}

.rik__text-w-logo {
    flex: 1 1 50%;
    min-width: 0;
    gap: 15px;
}

.rik__logo{
    max-width: 50%;
}

@media (max-width: 767.98px){
    .rik__contnent{
        flex-direction: column;
    }
}

@media (max-width: 567.98px){
    .rik__logo{
        max-width: 100%;
    }
}
