.rimm-hero{
    width: 100%;
    min-height: 65vh;
    
    background-image: url(../images/rimm/rimm-bg.png);
    background-repeat: no-repeat;
    background-position: right center;   
    background-size: cover;

    margin: 0;
    padding: 30px 0;

    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    gap: 25px;
}

.rimm-hero__inner{
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    width: 100%;

    margin-bottom: 30px;
}

.rimm-hero__logo{
    max-width: 30%;
}

.rimm-hero__texts{
    max-width: 65%;
}

.subheading-rimm{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;
    color: white;

    letter-spacing: -2%;
}

.rimm-h1{
    font-family: "Montserrat", sans-serif;
    font-weight: 700;
    line-height: 131%;

    font-size: 48px;
    color: white;
}

.rimm-btn{
    background: linear-gradient(to right, #BE2E33, #3D3970);
    color: white;

    margin-bottom: 20px;
}

.rimm-btn:hover{
    background: linear-gradient(to right, #9e2428, #323061);
    color: white;
}

.rimm-date{
    background: linear-gradient(to right, #BE2E33, #3D3970);
    -webkit-background-clip: text;
    background-clip: text;
    -webkit-text-fill-color: transparent;

    font-family:'Helvetica';
    font-weight:bold;

    margin: 0;
    margin-top: 25px;

    font-size: 15px;
    width: fit-content;
}

.rimm-content{
    margin-bottom: 75px;
}

.rimm-content__logo{
    max-width: 100%;
}

.rimm__main{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;

    gap: 30px;
}

.rimm__poster{
    width: 100%;
}

@media (max-width: 991.98px){
    .rimm-hero__inner{
        flex-direction: column;
        align-items: flex-start;
        gap: 25px;
    }

    .rimm-hero__logo{
        max-width: 20%;
    }

    .rimm-hero__texts{
        max-width: 100%;
    }

    .rimm-hero__inner{
        margin-bottom: 0;
    }
}

@media (min-width: 768px) and (max-width: 991.98px){
    .rimm-h1{
        font-size: 40px;
    }
}

@media (min-width: 568px) and (max-width: 767.98px) {
    .rimm-h1{
        font-size: 32px;
    }
    
    .rimm-hero{
        height: 70vh;
    }
    
    .rimm__main{
        flex-direction: column;
    }
}

@media (max-width: 567.98px) {
    .rimm-h1{
        font-size: 28px;
    }

    .rimm-hero{
        background-position: center;
        height: 70vh;
    }
    
    .rimm__main{
        flex-direction: column;
    }
}