.rubot__hero{
    width: 100%;
    min-height: 50vh;
    
    background-image: url(../images/rubot/bg.png);
    background-repeat: no-repeat;
    background-position: center;   
    background-size: cover;

    margin: 0;

    display: flex;
    align-items: center;
}

.rubol__logo{
    width: 25%;
    margin: 50px 0 20px 0;

}

.rubot__content{
    margin-bottom: 75px;

    gap: 25px;
}

@media (max-width: 767.98px){
    .rubol__logo{
        width: 50%;
    }
}