.tk__logo{
    flex: 0 0 auto;
    width: 30%;

    margin-bottom: 20px;
}

.tk__content{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
}

.tk__text{
    width: auto;
}

.tk-contacts{
    display: flex;
    flex-direction: column;
    gap: 25px;

    margin-bottom: 75px;
}

.tk__contacts__inner{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.tk__contact{
    flex-grow: 1;
}

@media (max-width: 767px) {
    .tk__content{
        flex-direction: column;
        align-items: center;
        justify-content: space-between;
    }

    .tk__logo{
        width: 100%;
    }

    .tk__contacts__inner{
        flex-direction: column;
        gap: 30px;
    }
}